
@import "../style/index-dark";

.LogViewer {
    font-family: monospace;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    padding-top: 0 !important;
    .content {
        min-height: 50px;
        overflow: scroll;
        padding: 10px;
        position: absolute;
        top:25px;
        bottom: 0;
        left:0;
        right: 0;
    }

    .line {
        white-space: nowrap;
        position: absolute;
        left: 0;
        right: 0;

        &.concat {
            padding-left: 2em;
            width: 100%;
            color: #444;
            background-color: #111;
        }

        &.even {
            background-color: $line-even-bg;
            .message {
                background-color: $line-even-bg;
            }
        }

        &.lineWarning {
            background-color: $line-warning-bg;
            .message {
                background-color: $line-warning-bg;
            }
        }
        &.lineError {
            background-color: $line-error-bg;
            .message {
                background-color: $line-error-bg;
            }
        }
        &.lineFatal {
            background-color: $line-fatal-bg;
            .message {
                background-color: $line-fatal-bg;
            }
        }
        &:hover {
            background-color: $line-hover-bg;
            .message {
                background-color: $line-hover-bg;
            }
        }

        .number {
            width: 30px;
            display: inline-block;
            text-align: right;
            margin-right: 10px;
            color: #888;
        }
        
        .greyout {
            color: #888;
        }
        .timestamp {
        }
        .frame {
            white-space: pre;
        }
        .category {
        }
        .verbosity {
        }
        .message {
            white-space:pre;
        }

        .parseError {
            background-color: darkred;
            font-weight: bold;
        }
    }
}